.catalog {

  &__wrapper {}

  &__title {
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #37333c;

    @media (max-width: 1250px) {
      font-size: 30px;
    }

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 767px) {
      font-size: 23px;
    }

    @media (max-width: 520px) {
      font-size: 20px;
    }
  }

  &__inner {
    display: flex;
    flex-flow: row wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}